"" .ideavimrc - Arpit Kumar

"" Based on [Matt Chapman's configs](https://www.cyberwizard.io/posts/the-ultimate-ideavim-setup/)

"" Base Settings
"" ========================================================

set scrolloff=10
set relativenumber
set showmode
set showcmd
set visualbell
set clipboard+=unnamed " share clipboard with system

set ignorecase
set smartcase
set incsearch
set hlsearch

:nnoremap <Space> <Nop>
let mapleader = " "


"" Plugin Settings
"" ========================================================

set surround
set which-key
set highlightedyank
" set sneak -- Incompatible with my IntelliJ version
set nerdtree
set easymotion
set notimeout


"" Key mappings
"" ========================================================

:nnoremap s <Nop>
map s <Plug>(easymotion-prefix)

inoremap jk <Esc>

" Tab navigation
nnoremap <S-h> :tabnext<CR>
nnoremap <S-l> :tabprev<CR>\

" Pane navigation
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <C-k> <C-w>k
nnoremap <C-j> <C-w>j

" Jump between methods
nnoremap [[ <Action>(MethodUp)
nnoremap ]] <Action>(MethodDown)

" Popup navigation
inoremap <C-j> <Action>(PopupMenu-selectNext)
inoremap <C-k> <Action>(PopupMenu-selectPrev)


"" Leader commands
"" ========================================================

" Comment lines
map <leader>cc <action>(CommentByLineComment)

" Open NERDTree (use q to exit)
map <leader>e :NERDTreeToggle<CR>

" Folding
map <leader>cw :action CollapseAllRegions<CR>
map <leader>ce :action ExpandAllRegions<CR>

" Display options
map <leader>dd <action>(ToggleDistractionFreeMode)
map <leader>dz <action>(ToggleZenMode)
map <leader>df <action>(ToggleFullScreen)

" Actions
map <leader>am <action>(ShowIntentionActions)
map <leader>as <action>(SearchEverywhere)

" File navigation
map <leader><space> <Action>(RecentFiles)
map <leader>ff <action>(GotoFile)
map <leader>fc <action>(FindInPath)
map <leader>fl <action>(RecentLocations)
map <leader>fs <action>(NewScratchFile)

" Close active tab
map <leader>q <action>(CloseContent)

" Refactoring
map <leader>rn <Action>(RenameElement)
map <leader>rm <Action>(ExtractMethod)
map <leader>rv <Action>(IntroduceVariable)
map <leader>rf <Action>(IntroduceField)
map <leader>rs <Action>(ChangeSignature)
map <leader>rr <Action>(Refactorings.QuickListPopupAction)

" Go to code
nmap <leader>gd <Action>(GotoDeclaration)
nmap <leader>gy <Action>(GotoTypeDeclaration)
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>gu <Action>(ShowUsages)
nmap <leader>gt <Action>(GotoTest)
nmap <leader>gf <Action>(Back)
nmap <leader>gb <Action>(Forward)

" Errors
map <leader>xn <Action>(ReSharperGotoNextErrorInSolution)
map <leader>xp <Action>(ReSharperGotoPrevErrorInSolution)
map <leader>xs <Action>(ShowErrorDescription)

" Get current line number, helpful since I have realtive line numbers enabled and usually work in the Zen view
nnoremap <leader>l :echo line('.')<CR>

" Show the current file in Project View (i.e in NERDTree)
map <leader>s <Action>(SelectInProjectView)

" Annotate with Git blame
map <leader>bb <Action>(Annotate)
